nav {
    display: grid;
    grid-template-columns: 50% 50%;
}

ul {
    display: flex;
}

ul li {
    padding: 10px;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

.nav-left {
    float: left;
    background-color: rgb(187, 179, 179);
}

.nav-right {
    background-color: rgb(157, 157, 233);
}

.nav-right ul {
     float: right;
     padding:10px;
}